<!DOCTYPE html>
<html>
<head>
    <title>Available Rooms</title>
</head>
<body>
    <h1>Available Rooms</h1>
    <table border="1">
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Price per Night</th>
            <th>Status</th>
        </tr>
        {% for room in available_rooms %}
        <tr>
            <td>{{ room[0] }}</td>
            <td>{{ room[1] }}</td>
            <td>{{ room[2] }}</td>
            <td>{{ room[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
